* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
}

input,
textarea,
select,
pre,
blockquote,
button {
  font: inherit;
  background: transparent;
}

input {
  appearance: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &[type="number"] {
    appearance: textfield;
  }
}

textarea {
  resize: none;
}

:focus {
  outline: 0;
}

[hidden] {
  display: none;
}

[draggable="false"] {
  user-select: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

img,
svg {
  pointer-events: none;
}

a {
  color: currentColor;
}

a,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}
